.item {
  border-bottom: 2px solid var(--gray-200);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.item__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__title {
  font-weight: bold;
}
